@import "tailwindcss";
/* .Toastify__toast {
  border-radius: 12px !important;
  font-family: Sora, sans-serif;
}

.Toastify__toast--success {
  background: #1a1a1a !important;
  color: #fff !important;
  border: 1px solid #ff6b2b;
}

.Toastify__toast--error {
  background: #1a1a1a !important;
  color: #fff !important;
  border: 1px solid #ff3b3b;
} */
.fr-card-media {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.fr-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,.6),
    transparent 60%
  );
  opacity: 0;
  transition: .25s;
}

.fr-card:hover .fr-card-overlay {
  opacity: 1;
}
/* Chrome, Edge, Safari */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1d;
    border-radius: 999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #fb923c,
      #ea580c
    );
    border-radius: 999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      #fdba74,
      #f97316
    );
  }
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #fb923c,
    #ea580c
  );
  border-radius: 999px;
  border: 2px solid #1a1a1d;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #fdba74,
    #f97316
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ea580c #1a1a1d;
}